html {
  background-color: #ddd;
  height: 100vh;
}

body {
  width: 100%;
  min-height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
}

.App {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif;
}

.todo-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  font-size: 18px;
  min-width: 300px;
  max-width: 600px;
  max-height: 50vh;
  margin-bottom: 24px;
  padding: 20px 16px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.todo-list .file-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px;
  padding-top: 20px;
  border-radius: 4px;
  background-color: rgba(128, 177, 229, 0.1450980392);
  /* .label-input{
    align-self:flex-start;
    font-size: 12px;
    padding-top: 8px;
    padding-left: 6px;
    color:$colorText
  } */
}
.todo-list .file-input .text {
  outline: none;
  padding: 0px, 10px;
  font-size: 18px;
  width: 230px;
  height: 43px;
  background: rgba(63, 81, 181, 0.137254902);
  border: 0px solid;
}
.todo-list .task-todo {
  /*  display: flex; */
  /* flex-direction: column; */
  min-width: 100%;
  max-height: 100%;
  /* gap: 20px;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap; */
  overflow-y: auto;
  overflow-x: hidden;
}
.todo-list .task-todo::-webkit-scrollbar {
  display: none;
}
.todo-list .task-todo .todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.todo-list .task-todo .todo:last-child {
  border-bottom: none;
}
.todo-list .task-todo .todo .todo-state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.todo-list .task-todo .todo .todo-text {
  color: #222222;
  text-align: right;
  transition: all 0.3s linear 0.3s;
}
.todo-list .task-todo .todo .todo-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
  fill: none;
  stroke: #2cd1dd;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: stroke 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.todo-list .task-todo .todo .todo-icon .todo-line, .todo-list .task-todo .todo .todo-icon .todo-box, .todo-list .task-todo .todo .todo-icon .todo-check {
  transition: stroke-dashoffset 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.todo-list .task-todo .todo .todo-icon .todo-line, .todo-list .task-todo .todo .todo-icon .todo-check {
  opacity: 0;
}
.todo-list .task-todo .todo .todo-icon .todo-circle {
  stroke: #2cd1dd;
  stroke-dasharray: 1 6;
  stroke-width: 0;
  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  -webkit-animation: none 0.6s linear;
          animation: none 0.6s linear;
}
@-webkit-keyframes explode {
  30% {
    stroke-width: 3;
    stroke-opacity: 1;
    transform: scale(0.8) rotate(40deg);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1.1) rotate(60deg);
  }
}
@keyframes explode {
  30% {
    stroke-width: 3;
    stroke-opacity: 1;
    transform: scale(0.8) rotate(40deg);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1.1) rotate(60deg);
  }
}
.todo-list .task-todo .todo .todo-icon .todo-box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.12s;
}
.todo-list .task-todo .todo .todo-icon .todo-check {
  stroke: #2cd1dd;
  stroke-dasharray: 9.8 9.8;
  stroke-dashoffset: 9;
  transition: stroke 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.24s;
}
.todo-list .task-todo .todo .todo-icon .todo-line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
  transition-delay: 0.48s;
}
.todo-list .task-todo .todo .todo-icon .todo-circle {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
  -webkit-animation-duration: 0.42s;
          animation-duration: 0.42s;
}
.todo-list .task-todo .todo .todo-state:checked ~ .todo-text {
  transition-delay: 0s;
  color: #5597dd;
  opacity: 0.6;
}
.todo-list .task-todo .todo .todo-state:checked ~ .todo-icon {
  transition-delay: 0s;
  stroke: #2cdd9f;
}
.todo-list .task-todo .todo .todo-state:checked ~ .todo-icon .todo-box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
}
.todo-list .task-todo .todo .todo-state:checked ~ .todo-icon .todo-line {
  opacity: 1;
  stroke-dashoffset: -8;
}
.todo-list .task-todo .todo .todo-state:checked ~ .todo-icon .todo-check {
  opacity: 1;
  stroke-dashoffset: 0;
  transition-delay: 0.36s;
  stroke: #2cdd9f;
}
.todo-list .task-todo .todo .todo-state:checked ~ .todo-icon .todo-circle {
  -webkit-animation: explode;
          animation: explode;
}
.todo-list .task-todo .todo.new-item {
  opacity: 0;
  transform: translateX(100px);
  -webkit-animation: fadeIn 0.3s linear forwards;
          animation: fadeIn 0.3s linear forwards;
}

/* .animationchk{
  position: absolute;
  z-index: -1;
  opacity: 0;
} */
button {
  padding: 8px;
  outline: none;
  border: 1px;
  border-radius: 4px;
  color: #fff;
}

.button.pink {
  background-color: #ff64c3;
}

.button.pink:hover {
  background-color: #7e2b5e;
}

.button.pink:active {
  background-color: #ff64c3;
}

.button.blue {
  background-color: #3F51B5;
}

.button.blue:hover {
  background-color: #303F9F;
}

.button.blue:active {
  background-color: #3F51B5;
}

@-webkit-keyframes fadeIn {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=App.css.map */