//variables
$colorRosa: #ff64c3;
$colorRosaHover: #7e2b5e;
$colorAzul: #3F51B5;
$colorAzulHover:#303F9F;
$duracion: 0.6s;
$stroke:#2cd1dd;
$strokeChecked:#2cdd9f;
$colorText:#222222;
$colorTextChecked: #5597dd;
$backgraoundLightBlue: #80b1e525;
$backgraoundInput: #3F51B523;
$backgroundPage: #ddd;

html{
  background-color: $backgroundPage;
  height: 100vh;
}
body{
  width: 100%;
  min-height:90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top:10vh;
}

.App{
  width: fit-content;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif;
}

.todo-list{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  font-size: 18px;
  min-width: 300px;
  max-width: 600px;
  max-height: 50vh;
  margin-bottom:24px;
  padding: 20px 16px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
  border-radius: 8px;
  
  .file-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 8px;
    padding-top: 20px ;
    border-radius: 4px;
    background-color: $backgraoundLightBlue;
    
    /* .label-input{
      align-self:flex-start;
      font-size: 12px;
      padding-top: 8px;
      padding-left: 6px;
      color:$colorText
    } */
    
    .text{
      outline: none;
      padding: 0px, 10px;
      font-size: 18px;
      width: 230px;
      height: 43px;
      background: $backgraoundInput;
      border:0px solid;
    }
  }
  
  .task-todo{
   /*  display: flex; */
    /* flex-direction: column; */
    min-width: 100%;
    max-height: 100%;
    /* gap: 20px;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; */
    overflow-y: auto;
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
      display: none;
    }
    
    .todo{
      display: block;
      position: relative;
      padding: 1em 1em 1em 16%;
      margin: 0 auto;
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      &:last-child{
        border-bottom:none;
      }
      .todo-state{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
      .todo-text{
        color: $colorText;
        text-align: right;
        transition: all calc($duracion / 2) linear  calc($duracion / 2);
      }
      
      .todo-icon{
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        width: 100%;
        height: auto;
        margin: auto;
      
        fill: none;
        stroke: $stroke;
        stroke-width: 2;
        stroke-linejoin: round ;
        stroke-linecap: round;
        transition: stroke $duracion cubic-bezier(.075,.82,.165,1);
        
        .todo-line, .todo-box, .todo-check{
          transition: stroke-dashoffset $duracion cubic-bezier(.075,.82,.165,1);
        }
        .todo-line, .todo-check{
          opacity: 0;
        }
        
        .todo-circle{
          stroke: $stroke;
          stroke-dasharray: 1 6;
          stroke-width: 0;
        
          transform-origin: 13.5px 12.5px;
          transform: scale(0.4) rotate(0deg);
          animation: none $duracion linear;
        
          @keyframes explode {
            30%{
              stroke-width: 3;
              stroke-opacity: 1;
              transform: scale(0.8) rotate(40deg);
            }
            100%{
              stroke-width: 0;
              stroke-opacity: 0;
              transform: scale(1.1) rotate(60deg);
            }
          }
        }
        
        .todo-box {
          stroke-dasharray: 56.1053, 56.1053;
          stroke-dashoffset: 0;
          transition-delay: $duracion *0.2;
        }
        
        .todo-check{
          stroke: $stroke;
          stroke-dasharray: 9.8 9.8;
          stroke-dashoffset: 9;
          transition: stroke $duracion cubic-bezier(.075,.82,.165,1);;
          transition-delay: $duracion * 0.4;
        }
        
        .todo-line{
          stroke-dasharray: 168,1684;
          stroke-dashoffset: 168;
          transition-delay: $duracion*0.8;
        }
        
        .todo-circle{
          animation-delay: $duracion*0.7;
          animation-duration: $duracion*0.7;
        }
      }
      
      
      .todo-state:checked{
        ~ .todo-text{
          transition-delay: 0s;
          color:$colorTextChecked;
          opacity: 0.6;
        }
        ~ .todo-icon{
          transition-delay: 0s;
          stroke: $strokeChecked;
          .todo-box{
            stroke-dashoffset: 56.1053;
            transition-delay: 0s;
          }
          .todo-line{
            opacity: 1;
            stroke-dashoffset: -8;
          }
          .todo-check{
            opacity: 1;
            stroke-dashoffset: 0;
            transition-delay:$duracion*0.6;
            stroke:$strokeChecked
          }
          .todo-circle{
            animation: explode /* duration timing-function delay iteration-count direction fill-mode */;
          }
        }
      }
    }
    
    .todo.new-item{
      opacity: 0;
      transform: translateX(100px);
      animation:fadeIn .3s linear forwards;
    }
  }
}

/* .animationchk{
  position: absolute;
  z-index: -1;
  opacity: 0;
} */



@mixin button ($class, $color, $colorHover){
  .button.#{$class}{background-color: $color;}
  .button.#{$class}:hover{background-color: $colorHover;}
  .button.#{$class}:active{background-color: $color;}
}

button{
  padding: 8px;
  outline: none;
  border: 1px;
  border-radius: 4px;
  color: #fff;
}

@include button("pink",$colorRosa, $colorRosaHover);
@include button("blue", $colorAzul, $colorAzulHover);




@keyframes fadeIn {
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
